<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FeedBack Page</title>
  <style>
    
    .image{
      width: 100px;
      height: 100px;
      border-radius: 100%;

    }
    .text-head{
      font-size: 16px;
      color: rgb(14, 14, 79);
    }
    .text-para{
      margin-top: 4px;
      font-size: 14px;
    }
    .return-link{
      text-decoration: none;
    
      
    }
  </style>
</head>
<body>
      <div class="container">
     <img src="https://cdn-icons-png.flaticon.com/512/10506/10506133.png" class="image"/>
     <h1 class="text-head">Thank You for Your Feedback {{name}}</h1>
     <p class="text-para">Your Form has been successfully submitted. We appreciate your feedback and will get back to you as soon as possible.</p>
     <button class="return-link">
      <a href="#"
      >Return to website</a>
     </button>
      </div>
</body>
</html>